<h3>
	<a name='publications'></a> Co-workers and Interns
	<ul> 
	    <li>Co-workers: Xingyu LIAO and Peng CHENG</li>
        </ul>
	<ul> 
	    <li>Interns: <a href="https://wangguanan.github.io/">Guanan WANG</a>, Boqiang XU, Wei ZHANG, Min REN</li>
        </ul>
</h3>
<p> 
    <div class='award'>
        <ul> 
	    <li>2013.12 <strong>National Scholarship</strong> for Graduate Students</li>
        </ul>
    </div>
</p>

<h3>
	<a name='publications'></a> Selected Awards
</h3>
<p> 
    <div class='award'>
        <ul> 
	    <li>2013.12 <strong>National Scholarship</strong> for Graduate Students</li>
	    <li>2013.12 <strong>Excellent Doctoral Thesis</strong> of Beijing society of Image and Graphics</li>
        </ul>
    </div>
</p>
