<!--<h3>
    <a name='Preprints'></a> Preprints
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Hierarchical Contextual Refinement Networks for Human Pose Estimation</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Junliang Xing, Shengtao Xiao, Shuicheng Yan<br />
      <i>Submitted to IEEE Transactions on Image Processing, under revision</i> (<strong>TIP</strong>), 2017 <br />
   </p>
  </div>
</div>-->

<h3>
    <a name='publications'></a> Publications
</h3>

<h4>
    <a name='2020'></a> 2020
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>FastReID: a Pytorch Toolbox for General Instance Re-identification</strong><br />
      <strong>Lingxiao He*</strong>, Xingyu Liao*, Wu Liu, Xinchen Liu, Peng Cheng, Tao Mei (* indicates corresponding author)<br />
      <i>arXiv preprint arXiv:2006.02631</i>, 2020 <br />
      <a href="https://arxiv.org/pdf/2006.02631.pdf">[PDF]</a>
      <a href="assets/bibtex/fastreid.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Guided Saliency Feature Learning for Person Re-identification in Crowded Scenes</strong><br />
      <strong>Lingxiao He</strong>, Wu Liu<br />
      <i>European Conference on Computer Vision</i> (<strong>ECCV</strong>), 2020 <br />
      <a href="https://www.ecva.net/papers/eccv_2020/papers_ECCV/papers/123730358.pdf">[PDF]</a>
      <a href="assets/bibtex/crowd_eccv20.txt">[Bibtex]</a>
      <a href="https://pan.baidu.com/share/init?surl=xXxh5662ouoe8AQwN6VolA">[Dataset]</a>
   </p>
  </div>
</div>



<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Black Re-ID: A Head-shoulder Descriptor for the Challenging Problem of Person Re-Identification</strong><br />
      Boqiang Xu, <strong>Lingxiao He</strong>, Xingyu Liao, Wu Liu, Zhenan Sun, Tao Mei<br />
      <i>ACM Multimedia Conference </i> (<strong>MM</strong>), 2019 <br />
      <a href="https://arxiv.org/pdf/2008.08528.pdf">[PDF]</a>
      <a href="assets/bibtex/blackmm20.txt">[Bibtex]</a>
      <a href="https://github.com/xbq1994/HAA">[Code]</a>
      <a href="assets/bibtex/blackmm20.txt">[Dataset]</a>
   </p>
  </div>
</div>

<h4>
  <a name='2019'></a> 2019
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Foreground-aware Pyramid Reconstruction for Alignment-free Occluded Person Re-identification</strong><br />
      <strong>Lingxiao He</strong>, Yinggang Wang, Wu Liu, He Zhao, Zhenan Sun, Jiashi Feng<br />
      <i>IEEE International Conference on Computer Vision</i> (<strong>ICCV</strong>), 2019 <br />
      <a href="https://openaccess.thecvf.com/content_ICCV_2019/papers/He_Foreground-Aware_Pyramid_Reconstruction_for_Alignment-Free_Occluded_Person_Re-Identification_ICCV_2019_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/SPM_ICCV2019.txt">[Bibtex]</a>
      <a href="https://github.com/JDAI-CV/Partial-Person-ReID">[Code]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Joint 3D Face Reconstruction and Dense Face Alignment from a Single Image with 2D-assisted Self-supervised Learning</strong><br />
      Xiaoguang Tu, Jian Zhao, Zihang Jiang, Yao Luo, Mei Xie, Yang Zhao, </strong>Linxiao He</strong>, Zheng Ma, Jiashi Feng<br />
      <i>IEEE Transactions on Multimedia</i> (<strong>TMM</strong>), 2019 <br />
      <a href="https://arxiv.org/pdf/1903.09359.pdf">[PDF]</a>
      <a href="assets/bibtex/foreiccv2019.txt">[Bibtex]</a>
   </p>
  </div>
</div>


<h4>
    <a name='2018'></a> 2018
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Deep Spatial Feature Reconstruction for Partial Person Re-identification: Alignment-free Approach</strong><br />
      <strong>Lingxiao He*</strong>, Jian Liang*, Haiqing Li, Zhenan Sun<br />
      <i>IEEE Conference on Computer Vision and Pattern Recognition</i> (<strong>CVPR</strong>), 2018 <br />
      <a href="https://openaccess.thecvf.com/content_cvpr_2018/papers/He_Deep_Spatial_Feature_CVPR_2018_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/he2018deep.txt">[Bibtex]</a>
      <a href="https://drive.google.com/file/d/1p7Jvo-RJhU_B6hf9eAhIEFNhvrzM5cdh/view?usp=sharing">[Dataset]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Dynamic Feature Learning for Partial Face Recognition</strong><br />
      <strong>Lingxiao He</strong>, Haiqing Li, Qi Zhang, Zhenan Sun<br />
      <i>IEEE Conference on Computer Vision and Pattern Recognition</i> (<strong>CVPR</strong>), 2018 <br />
      <a href="https://openaccess.thecvf.com/content_cvpr_2018/papers/He_Dynamic_Feature_Learning_CVPR_2018_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/dfm_cvpr2018.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Dynamic Feature Matching for Partial Face Recognition</strong><br />
      <strong>Lingxiao He</strong>, Haiqing Li, Qi Zhang, Zhenan Sun<br />
      <i>IEEE Transactions on Image Processing</i> (<strong>TIP</strong>), 2019 <br />
      <a href="assets/bibtex/dfm_tip2018.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Video-based person re-identification via 3d convolutional networks and non-local attention</strong><br />
      Xingyu Liao, <strong>Lingxiao He</strong>, Zhouwang Yang, Chi Zhang<br />
      <i>Asian Conference on Computer Vision</i> (<strong>ACCV</strong>), 2018 <br />
      <a href="https://arxiv.org/pdf/1807.05073.pdf">[PDF]</a>
      <a href="assets/bibtex/accvvideo.txt">[Bibtex]</a>

   </p>
  </div>
</div>
